[submodule "mars/utils"]
	path = mars/utils
	url = https://github.com/BinghamtonRover/Firmware-Utilities
[submodule "mars/tmc"]
	path = mars/tmc
	url = https://github.com/BinghamtonRover/TMC-Firmware
